<p>Hi, <%= fullName %>,</p>

<div>
    <p>    A request has been received to change the password. Click on below link to set a new password.</p>
    </div>

<div>click here : <%= url %></div>
<p></p>

<div>Regards,</div>
<div>Myshopping Cart</div>
