/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
div.container{
  margin-top: 0%;
  min-height: 500px;
}
div.top5products{
  display: list-item;
}
div.statecontent
{
  margin-top: 30px;
  min-height: 400px;
}
.subMenu {
  position: absolute;
  display: none;
  background-color: #9acfea;
  padding: 5px;
}
li{
  /*display: inline;*/
  list-style-type: none;
  /*padding-right: 20px;*/
  float: left;
  cursor: pointer;
}
div.products
{
  /*width: 20%;*/
  display: inline;
  clear: right;

}
ul.subMenu li
{
  display: list-item;
  cursor: pointer;
  margin: 0;
}
li:hover ul.subMenu
{
  cursor: pointer;
  display: block;
  margin: 0;
}
.products span {
  font-size: 15px;
  /*font-family: "Book Antiqua", "Palatino Linotype", Georgia, serif;*/
  /*letter-spacing: 0.1em;*/
}
.products span, .products img{
  display: block;
}
div.products img{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
}
div.search{
  margin-top: 0%;
  float: right;
  /* margin-right: 10%; */
  padding-top: 10%;
  width: 100%;
  color: black;

}
ul.prodDetails li
{
  list-style-type: disc;
  display: list-item;
  float: none;
}
ul#commentProd li
{
  list-style-type: disc;
  display: list-item;
  float: none;
}
div.viewProd
{
  vertical-align : middle;
}
#sides{
  margin:0;
}

.prodimage img{
  width: 60%;
  height: 60%;
}
#details{

  float:left;
  width:40%;
  overflow:hidden;
}
div.footer {
  padding: 1em;
  color: white;
  background-color: #1b6d85;
  clear: left;
  text-align: center;
}
div.footer a{
  color : white;
}
div.hContainer
{
  clear: left;
  margin-top: 0%;
  color: white;
  height: 110px;
  background-color: #00264d;

}
div.hContainer div.header
{
  height: 60px;
  margin-top: 0%;
  color: white;
  padding-top: 15px;
  padding-bottom: 5%;
  width: 26%;

}
div.hContainer h1
{
  height: 60px;
  margin-top: 0%;
  color: white;
  padding-top: 15px;
}
div.hContainer .reg-form
{
  color :black;
}
/*div.prodimage img:hover*/
/*{*/
/*-moz-transform:scale(1.25);*/
/*-webkit-transform:scale(1.25);*/
/*-o-transform:scale(1.25);*/

/*}*/
div.prodimage img {
  -webkit-transition: all .3s ease; /* Safari and Chrome */
  -moz-transition: all .3s ease; /* Firefox */
  -o-transition: all .3s ease; /* IE 9 */
  -ms-transition: all .3s ease; /* Opera */
  transition: all .3s ease;
}
div.prodimage img:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
  -moz-transform:scale(1.20); /* Firefox */
  -ms-transform:scale(1.20); /* IE 9 */
  -o-transform:translatZ(0) scale(1.20); /* Opera */
  transform:translatZ(0) scale(1.20);
}


.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%);
}
div.search a
{
  text-decoration: none;
}
li .rating
{
  font-size: 20px;
}

.rating.jk-rating-stars-container .button .material-icons {
  font-size: 20px;
}
div.topmages {

  width: 60%;
  height: 40%;
  margin: 1% 1%;
}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
.scroll
{
  height:200px;
  width:auto;
  border:solid 2px #d5d5d5;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;
}
/*
.vertical_line{
  height:150px; width:1px;background:#000;}
*/
#right{
  float:left;
  width:80%;
  overflow:hidden;
}
#left{

  float:left;
  width:20%;
  overflow:hidden;
}
div.brands li
{
  display:list-item;
  float: none;
  cursor: default;
}

div.offers li
{
  display:list-item;
  float: none;
  cursor: default;
}
div.simproducts
{
  /*width: 20%;*/
  text-align: center;
  display: inline;
  clear: right;
}
.simproducts span {
  font-size: 15px;
  /*font-family: "Book Antiqua", "Palatino Linotype", Georgia, serif;*/
  /*letter-spacing: 0.1em;*/
}
.simproducts span, .simproducts img{
  display: block;
}
div.simproducts img{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
}
div.lab-lef
{
  width: 300px;
  padding-right: 20px;
}
div.all-products
{

  display: inline;
  clear: right;
}
.all-products span {
  font-size: 15px;
  text-align: center;

  /*font-family: "Book Antiqua", "Palatino Linotype", Georgia, serif;*/
  /*letter-spacing: 0.1em;*/
}
.all-products span, .all-products img{
  display: block;
  text-align: center;

}
div.all-products img{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
}
div.search-bar
{
  margin-left: 1%;
  width: 33%;
}
span#prod-names
{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.prod-name
{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.all-products:hover #prod-name
{
  cursor: pointer;
  display: block;
  margin: 0;
}
.tooltip .tooltip-inner {
  color: whitesmoke;
  background-color: #2aabd2;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
/* Hide arrow */
.tooltip .tooltip-arrow {
  display: none;
}
div.filter-list
{
  height: 150px;
  width: 170px;
  overflow: scroll;
  overflow-x:hidden;


}
dl.filter-list-b {
  float: left;
  width: 150px;

}

.filter-list-b dt {
  clear: left;
  float: left;
  width: 14px;
  font-weight: bold;
}

.filter-list-b dd {
  float: left;
  width: 100px;
}
.specification
{
  /*clear: left;*/
  width: 50px;
  padding-left: 0;
  text-align: left;
}
.pag-button
{
  background-color: #99cfe7;
  width: 150px;
  text-align: center;
  border:0;
  margin-bottom: 10px;
}
.pag-button.col-md-2
{
  background-color: #99cfe7;
  width: 80px;
  text-align: center;
  border:0;

}
.simil
{
  text-align: center;
}
span.prod-name.col-xs-12
{
  margin-left: 40%;
}
span.prod-name.col-lg-12
{
  margin-left: 0;

}
span.prod-name.col-sm-12
{
  margin-left: 0;

}
span.prod-name.col-md-12
{
  margin-left: 0;

}
img.proim
{
  margin-left: 19%;
  width:60%;
  height: 60%;
}
/*img.proim.col-xs-12
{
  width: 92%;
  height: 76%;
}
img.proim.col-sm-12
{
  width: 34%;
  height: 80%;
}
img.proim.col-md-12
{
  width: 34%;
  height: 80%;
}
img.proim.col-lg-12
{
  width: 34%;
  height: 80%;
}
*/
div.reg-form input[type=text],input[type=email],input[type=password],input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.reg-form input[type=submit]{

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
div.reg-form button{
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
div.reset-form
{

  width:50%;
  border: 2px solid #1edda2;
  border-radius: 12px;
}
div.reset-form input[type=email],div.reset-form input[type=password],div.reset-form input[type=text],div.reset-form input[type=date] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.reset-form input[type=submit] {

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
div.log-regist{
  /*padding-left: 4%;*/
  margin-top: 2.5%;
  margin-left: 15%;
}
span#error-message{
  padding: 0;
  white-space: nowrap;
  font-stretch: ultra-condensed;
}
div.search input[type=search].form-control  {
  width : 425px !important;;
  /*display: auto*/

}
.address-form
{
  align-items: center;
  /*  width:100%;
    border: 2px solid #1edda2;
    border-radius: 12px;
    margin-bottom: 5%;*/
}
.address-form  input[type=text], .address-form input[type=date] .address-form select {
  width: 25%;
  height: 30px;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.address-form input[type=submit] {

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.address-form button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.fa-plus-square-o:before {
  content: "\f196";
  margin-left: 1100px;
}