<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Your are in books page </h1>
<h2></h2>
<!-- -&#45;&#45;&#45;&#45;{{ec.type}}-->
<div class="row">
    <div id="left">
        <filter value=10 product-list="bc.productList" brand-list="bc.brandList" selected-brand-list="bc.selectedBrands" offers-list="bc.allOffers">

        </filter>
    </div>

    <div id="right">

        <display-all-products product-list="bc.productList" product-type="{{bc.type}}">

        </display-all-products>
    </div>
</div>

</body>
</html>