<div >
    <label>Comments :</label><br>
    <ul id="commentProd" class="scroll">
        <li ng-repeat="comment in comm.allComments | limitTo:comm.limit" >
            <label>{{ comment.username }}:</label>&nbsp&nbsp<span>{{ comment.text }}</span><br>
         <span><label>Rating: </label>{{ comment.rating }}<ng-rate-it min = 0 max = 5 read-only = "true" ng-model=comment.rating >
         </ng-rate-it><!--<jk-rating-stars class="rating" rating="comment.rating" read-only="true"  >
         </jk-rating-stars>--></span> <span>on {{ comment.commentedOn }}</span><br>
            <hr>
            <br>
        </li>

      <center><button class="pag-button" ng-if="comm.limit == 1" ng-click="comm.changeLimit()" >view all comments</button>
          <button class="pag-button" ng-if="comm.limit > 1" ng-click="comm.changeLimit()" >view less comments</button></center>
    </ul>
</div>
