<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body class="container">
<div class="header">
    <h1 class="">
        MyShopping Cart
    </h1>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="home">Home</a></li>
            <li ><a ui-sref="electronics">Electronics</a>
            <ul class="subMenu">
                <li>Mobiles</li>
                <li>Pendrives</li>
                <li>Laptops</li>
            </ul>
            </li>
            <li ><a ui-sref="books">Books</a>
                <ul class="subMenu">
                    <li>Fiction</li>
                    <li>Comics</li>
                    <li>Biography</li>
                </ul>
            </li>
            <li ><a href="#">Home&Furniture</a>
                <ul class="subMenu">
                    <li>Chairs</li>
                    <li>Beds</li>
                    <li>Tables</li>
                </ul>
            </li>
        </ul>
        <div class="search" ng-controller="headController as headc">
            <!--{{headc.refreshed}}//-->
            <ui-select ng-model="headc.selected" theme='bootstrap' reset-search-input='true' on-select="headc.viewProduct(headc.selected.id)">
                <ui-select-match placeholder="Select or search a product ..." > {{ $select.selected.name}}</ui-select-match>
                <!--minimum-input-length=3 check in future-->
                <ui-select-choices  refresh="headc.refreshProds($select.search)"
                                   refresh-delay="0"
                                   repeat="prod in headc.refreshed track by prod.id" >
                    <a ui-sref="product({ id : prod.id })" >{{prod.name}}</a><br>
                    Cost:{{prod.price | currency:'&#8377;'}}
                    Rating:<jk-rating-stars class="rating" rating=prod.rating  read-only="true" ></jk-rating-stars>
                </ui-select-choices>
            </ui-select>
        <span>{{ headc.selected.name}}</span>
        </div>
    </div>

</nav>

</div>
</body>
</html>