<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body class="container">
<div class="row">
    <div class="header col-sm-3">
        <h1 class="">
            MyShopping Cart
        </h1>
    </div>
    <center>
        <div class="search-bar col-sm-3" align="center">
            <search-product product-list="headc.refreshed" view-product="headc.viewProduct(prodId)" refresh-prods="headc.refreshProds(selected)">

            </search-product>
        </div>
    </center>
</div>



<nav class="navbar navbar-default">

    <div class="container-fluid">

        <ul class="nav navbar-nav">

            <li class="active"><a ui-sref="home">Home</a></li>
            <li ><a href="#">Electronics</a>
            <ul class="subMenu">
                <li><a ui-sref="electronics({type: 'mobile'})">Mobiles</a></li>
                <li><a ui-sref="electronics({type: 'pendrive'})">Pendrives</a></li>
                <li><a ui-sref="electronics({type:'laptop'})">Laptops</a></li>
            </ul>
            </li>
            <li ><a href="#">Books</a>
                <ul class="subMenu">
                    <li><a ui-sref="books({type : 'fiction'})" >Fiction</a></li>
                    <li><a ui-sref="books({type : 'comics'})" >Comics</a></li>
                    <li><a ui-sref="books({type : 'biography'})">Biography</a></li>
                </ul>
            </li>
            <li ><a href="#">Home&Furniture</a>
                <ul class="subMenu">
                    <li>Chairs</li>
                    <li>Beds</li>
                    <li>Tables</li>
                </ul>
            </li>
        </ul>
        <!--{{headc.refreshed}}-->

        <!--<div class="search" >-->
            <!--{{headc.message}}//-->
            <!--<ui-select ng-model="headc.selected" theme='bootstrap' reset-search-input='true' on-select="headc.viewProduct(headc.selected.id)">-->
                <!--<ui-select-match placeholder="Select or search a product ..." > {{ $select.selected.name}}</ui-select-match>-->
                <!--&lt;!&ndash;minimum-input-length=3 check in future&ndash;&gt;-->
                <!--<ui-select-choices  refresh="headc.refreshProds($select.search)"-->
                                   <!--refresh-delay="0"-->
                                   <!--repeat="prod in headc.refreshed track by prod.id" >-->
                    <!--<a ui-sref="product({ id : prod.id })" >{{prod.name}}</a><br>-->
                    <!--Cost:{{prod.price | currency:'&#8377;'}}-->
                    <!--Rating:<jk-rating-stars class="rating" rating=prod.rating  read-only="true" ></jk-rating-stars>-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->
        <!--<span>{{ headc.selected.name}}</span>-->
        <!--</div>-->
    </div>

</nav>

</div>
</body>
</html>