<div class="row">
    <h1 > {{pdc.product.productName}} </h1><br>

    <!--<span >Rating : {{pdc.product.rating}}</span><br>-->
    <h4>General Specifications</h4>
    <div class="lab-lef row">
        <div class="row" ng-if="pdc.product.type != 'books'">
            <div class="row"><label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Brand : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.brand"></span></div>
            <div class="row"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Ram : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.ram"></span></div>
            <div class="row"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Color : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.color"></span></div>
            <div class="row"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Battery : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.battery"></span></div>
            <div class="row" ng-if="pdc.product.camera"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Front Camera : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.camera.front"></span></div>
            <div class="row" ng-if="pdc.product.camera"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Rear Camera : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.camera.rear"></span></div>

        </div>
        <div class="row" ng-if="pdc.product.type == 'books'">
            <div class="row"><label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Publisher : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.features.publisher"></span></div>
            <div class="row"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Edition : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.features.edition"></span></div>
            <div class="row"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Author : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.author"></span></div>
            <div class="row"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Category : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.subType"></span></div>
            <div class="row"> <label class="col-lg-4 col-xs-4 col-sm-4 col-md-4">Pages : </label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-bind="pdc.product.features.pages"></span></div>
        </div>
        <div class="row"> <label class="col-lg-12 col-xs-12 col-sm-12 col-md-12">Offers  </label></div>
        <div ng-repeat="offers in pdc.product.offers">
            <!--{{pdc.product.offers}}-->
        <div ng-repeat="(key, value) in offers">
            <div class="row" ng-if="key != '_id' && key != '__v'"><label class="col-lg-4 col-xs-4 col-sm-4 col-md-4" >{{key}}:</label><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-if="key == 'amount'"> {{value |currency:'&#8377;' }}</span><span class="col-lg-8 col-xs-8 col-sm-8 col-md-8 specification" ng-if="key != 'amount'"> {{value}}</span></div>
        </div>
        <br>
    </div>

</div>

</div>

