<center>
    <h1>Profile</h1>
    <div class="reset-form">

        <form name="profileForm" ng-submit="repc.resetPassword()">
            Email Id : <Label ng-bind="upc.user.email"></Label><br>
            <!--{{upc.user.firstName}}=====-->
            First Name : <input type="text" id="fname" ng-model="upc.user.firstName" required><br>
            Last Name : <input type="text" id="lname" ng-model="upc.user.lastName" required><br>
            Phone Number : <input type="text" id="phno" ng-model="upc.user.phoneNumber" required><br>
            Address : <input type="text" id="address" ng-model="upc.user.pwd1" required><br>
            Age : <input type="text" id="age" ng-model="upc.user.pwd1" required><br>

            <!--Password : <input type="password" id="pwd1" ng-model="repc.pwd1" required><br>
            Confirm Password : <input type="password" id="pwd2" ng-model="repc.pwd2" required><br>-->
            <span ng-if="repc.validate == false" ng-bind="repc.message" style="color : red"></span><br>
            <center><input type="submit" value="Save"></center>
        </form>
    </div>
<!--{{upc.tableParams}}-->

    <h2>Address</h2>
    <div class="table-responsive">

        <!--length- {{upc.user.address.length}};=={{upc.tableParams}}-->

      <!--  <form name="profileAddressForm" ng-submit="upc.resetPassword()" >-->
            <div id="no-more-tables">
                <table ng-table="upc.tableParams"  show-filter="true" class = "table table-bordered">
                <!--    <thead>
                    <tr>
                        <th>
                            type
                        </th>
                        <th>
                            Address Line1
                        </th>
                        <th>
                            Address Line2
                        </th>
                        <th>
                            Street/Village
                        </th>
                        <th>
                            Town/City
                        </th>
                        <th>
                            District
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            ZipCode
                            &lt;!&ndash;{{$data}}&ndash;&gt;
                        </th>
                    </tr>
                    </thead>-->

                    <button class="btn btn-primary" ng-click="upc.loadAddressForm()">Add</button><!--====== {{upc.user.address}}-->
                    <tbody>
                    <tr ng-init="readR1 = true" ng-repeat="address in $data"> <!--{{readR1}}-->
                        <td title="'type'" filter="{ type: 'text'}" sortable="'type'"><span ng-bind="address.type"> </span>
                        </td>
                        <td title="'Address Line1'" filter="{ addressLine1: 'text'}" sortable="'addressLine1'"><span ng-bind="address.addressLine1" ></span></td>
                        <td title="'Address Line2'" filter="{ addressLine2: 'text'}" sortable="'addressLine2'"><span ng-bind="address.addressLine2" ></span></td>
                        <td title="'Street/Village'" filter="{ streetVillage: 'text'}" sortable="'streetVillage'"><span ng-bind="address.streetVillage" ></span></td>
                        <td title="'Town/City'" filter="{ townCity: 'text'}" sortable="'townCity'"><span ng-bind="address.townCity" ></span></td>
                        <td title="'District'" filter="{ district: 'text'}" sortable="'district'"><span ng-bind="address.district" ></span></td>
                        <td title="'State'" filter="{ state: 'text'}" sortable="'state'"><span ng-bind="address.state" ></span></td>
                        <td title="'Country'"filter="{ country: 'text'}" sortable="'country'"><span ng-bind="address.country" ></span></td>
                        <td title="'ZipCode'" filter="{ zipCode: 'number'}" sortable="'type'"><span ng-bind="address.zipCode" ></span></td>
                        <td><center><Button class="btn btn-primary"  ng-click="upc.loadAddressForm(address)">Edit</Button>
                       <Button class="btn btn-danger">Del</Button>
                            <!--<input type="submit" class="btn btn-danger" value="Del">--></center></td>
                        <!--Password : <input type="password" id="pwd1" ng-model="repc.pwd1" required><br>
                        Confirm Password : <input type="password" id="pwd2" ng-model="repc.pwd2" required><br>-->
                        <span ng-if="repc.validate == false" ng-bind="repc.message" style="color : red"></span><br>
                    </tr>
               <!--     <tr ng-init="readR2 = true">
                        <td title="type" >Work</td>
                        <td title="Address Line1"><input type="text" ng-disabled="readR2"></td>
                        <td title="Address Line2"><input type="text" ng-disabled="readR2"></td>
                        <td title="Street/Village"><input type="text" ng-disabled="readR2"></td>
                        <td title="Town/City"><input type="text" ng-disabled="readR2"></td>
                        <td title="District"><input type="text" ng-disabled="readR2"></td>
                        <td title="State"><input type="text" ng-disabled="readR2"></td>
                        <td title="Country"><input type="text" ng-disabled="readR2"></td>
                        <td title="ZipCode"><input type="text" ng-disabled="readR2"></td>
                        <td><Button class="btn btn-primary"  ng-click="readR2 = !readR2">Edit</Button></td>
                        <td><center><input type="submit" value="Save"></center></td>
                        &lt;!&ndash;Password : <input type="password" id="pwd1" ng-model="repc.pwd1" required><br>
                        Confirm Password : <input type="password" id="pwd2" ng-model="repc.pwd2" required><br>&ndash;&gt;
                        <span ng-if="repc.validate == false" ng-bind="repc.message" style="color : red"></span><br>
                    </tr>-->
                    </tbody>

                </table>
            </div>
       <!-- </form>-->
    </div>
</center>
