<div class="reg-form">

    <div modal="false" close="">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Login Form</h4>
            </div>
            <form name="regForm" ng-submit="rgc.checkAllAdd()">
                <div class="modal-body">

                    First Name : <input type="text" id="fname" ng-model="rgc.fname" required>
                    Last Name : <input type="text" id="lname" ng-model="rgc.lname" required>
                    Email Id : <input type="email" id="mailId" ng-model="rgc.mailId" ng-keyup="rgc.checkEmailAvailability()" >
                    <span ng-bind="rgc.mailId+' already exists'" style="color:red" ng-if="rgc.mailExitst == true"></span><br>
                    Password : <input type="password" id="paswd" ng-model="rgc.paswd" required>
                    Phone Number : <input type="number" id="phno" ng-model="rgc.phno" required>

                    <span style="color:red" ng-if="rgc.validated == false">enter the details preperly {{rgc.message}}</span>
                    </div>
                    <div class="modal-footer">
                        <center><input type="submit" value="SignUp">
                        <button class="btn btn-danger" data-toggle="modal" ng-click="rgc.close()">Cancel</button>
                        </center>
                </div>
            </form>
        </div>

    </div>
</div>
