<div class="reg-form">
    <!--   <div class="modal fade" id="loginModal" role="dialog">
           <div class="modal-dialog">
               &lt;!&ndash; Modal content&ndash;&gt;
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Login</h4>
                   </div>
                   <div class="modal-body">
                       <form name="regForm" ng-submit="lgc.checkLogin()">
                           Email Id : <input type="email" id="emailId" ng-model="lgc.emailId" ng-keyup="lgc.checkEmailAvailability()" required>
                           &lt;!&ndash;<span ng-bind="lgc.mailId+' already exists'" style="color:red" ng-if="lgc.mailExitst == true"></span><br>&ndash;&gt;
                           Password : <input type="password" id="paswd" ng-model="lgc.paswd" required>
                           <center><input type="submit" value="Login"> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#forgotform">forgot password?</button></center>
                           &lt;!&ndash;<div class="modal fade" id="forgotform" role="dialog">
                               <div class="modal-dialog">
                                   &lt;!&ndash; Modal content&ndash;&gt;
                                   <div class="modal-content">
                                       <div class="modal-header">
                                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                                           <h4 class="modal-title">Login</h4>
                                       </div>
                                       <div class="modal-body">
                                           <form name="regForm" ng-submit="lgc.checkAllAdd()">
                                               Email Id : <input type="email" id="mail" ng-model="headc.mailId" ng-keyup="lgc.checkEmailAvailability()" required>
                                               &lt;!&ndash;<span ng-bind="lgc.mailId+' already exists'" style="color:red" ng-if="lgc.mailExitst == true"></span><br>&ndash;&gt;
                                           </form>
                                       </div>
                                       &lt;!&ndash;  <div class="modal-footer">
                                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                         </div>&ndash;&gt;
                                   </div>

                               </div>
                           </div>&ndash;&gt;
                           <span style="color:red" ng-if="lgc.validated == false">Invalid emailid or password</span>
                       </form>
                   </div>
                   &lt;!&ndash;  <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>&ndash;&gt;
               </div>

           </div>
       </div>-->
    <div modal="false" close="">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Login Form</h4>
            </div>
            <form name="regForm" ng-submit="rgc.checkAllAdd()">
                <div class="modal-body">

                    First Name : <input type="text" id="fname" ng-model="rgc.fname" required>
                    Last Name : <input type="text" id="lname" ng-model="rgc.lname" required>
                    Email Id : <input type="email" id="mailId" ng-model="rgc.mailId" ng-keyup="rgc.checkEmailAvailability()" required>
                    <span ng-bind="rgc.mailId+' already exists'" style="color:red" ng-if="rgc.mailExitst == true"></span><br>
                    Password : <input type="password" id="paswd" ng-model="rgc.paswd" required>
                    Phone Number : <input type="number" id="phno" ng-model="rgc.phno" required>

                    <span style="color:red" ng-if="rgc.validated == false">enter the details preperly</span>
                    </div>
                    <div class="modal-footer">
                        <center><input type="submit" value="SignUp"></center>
                </div>
            </form>
        </div>

    </div>
</div>
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>-->