<center>
    <h1>Reset Your Password here </h1>
    <div class="reset-form">
        <div ng-if="repc.tokenFound == false">
            <img  src="../../images/messages/warning-icon.jpeg"> </img>
            <span id="error-message" ng-bind="repc.message"></span>
        </div>

        <form name="form" ng-submit="repc.resetPassword(form.$valid)" ng-if="repc.tokenFound == true">
            Email Id : <Label ng-bind="repc.emailId"></Label><br>
            <div class="form-group" ng-class="{ 'has-error': form.pwd1.$dirty && form.pwd1.$error.required }">

                <label for="pwd1"> Password : </label>
                <input type="password" name="pwd1" id="pwd1" ng-model="repc.pwd1"  required ng-pattern="repc.regexPasswd"><br>
                <span style="color:red" ng-show="form.pwd1.$dirty && form.pwd1.$error.pattern" ng-class="help-block">password should have atleast 1uppercase 1lowercase 1numeric and 1character</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.pwd2.$dirty && form.pwd2.$error.required }">

                <label for="pwd2"> Confirm Password : </label>

                <input type="password" name="pwd2" id="pwd2" ng-model="repc.pwd2" required ng-pattern="repc.regexPasswd"><br>
                <span style="color:red" ng-show="form.pwd2.$dirty && form.pwd2.$error.pattern" ng-class="help-block">password should have atleast 1uppercase 1lowercase 1numeric and 1character</span>
            </div>
            <span ng-if="repc.validate == false" ng-bind="repc.message" style="color : red"></span><br>
            <center><input type="submit" value="Reset" ng-disabled="form.$invalid"></center>
        </form>
    </div>
</center>
