<div class="row">
<!--prodtype ; {{similarProductList}}-->

<div ui-sref="product({ id : prod.id })" class="products col-md-3"  ng-repeat="prod in similarProductList | orderBy:'-rating' | filter: { subType: productType}" ng-if="prod.id!=productId">
    <img src="images/{{prod.subType}}/{{ prod.id }}.jpg">
    <span>{{prod.name}}</span></li>
    Cost : {{prod.price}}
    {{ prod.rating }}
    <ng-rate-it min = 0 max = 5 read-only = "true" ng-model=prod.rating >
    </ng-rate-it>
    <!--<jk-rating-stars class="rating" rating="prod.rating" read-only="true" on-rating="vpc.onRating(rating)" >
    </jk-rating-stars>-->
</div>

</div>

